doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  nav
    ul
      li
        a(href='/books/all') Books
      li
        a(href='/patrons/all') Patrons
      li
        a(href='/loans/all') Loans
  body
    block content
